{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Source Code Zoo- About
{% endblock %}
{% block backgroud_image %}
    {% static '/img/about-bg.jpg' %}
{% endblock %}
{% block header_title %}
    About SCZ
{% endblock %}
{% block header_subtitle %}
    This is what we do.
{% endblock %}
{% block main_container %}
    <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>
                    Source Code Zoo, is a weblog intended to publish and share interesting
                    source codes and code snippets, articles discussing programming or coding practices.
                </p>
                <p>
                    Main Author is <b>Jayarajan JN</b>. a passionate python developer, with a good taste for algorithms,
                    System Architecture, and Machine Learning.
                </p>
            </div>
    </div>
{% endblock %}
