{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}
    Source Code Zoo- Contact
{% endblock %}

{% block backgroud_image %}
    {% static 'img/contact-bg.jpg' %}
{% endblock %}

{% block header_title %}
    Contact Me
{% endblock %}

{% block header_subtitle %}
    Have questions? I have answers (maybe).
{% endblock %}

{% block main_container %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
            <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
            <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
            <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
            <form name="sentMessage1" id="contactForm" novalidate>
                {% csrf_token %}
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{ form.name.label_tag }}
                        {{ form.name |add_class:"form_control" | attr:"placeholder:Name" }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{ form.email.label_tag }}
                        {{ form.email |add_class:"form_control"  | attr:"placeholder:Email address" }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{ form.phonenumber.label_tag }}
                        {{ form.phonenumber |add_class:"form_control"  | attr:"placeholder:Phone Number" }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        {{ form.message.label_tag }}
                        {{ form.message |add_class:"form_control" | attr:"placeholder:Message"  }}
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default">Send</button>
                        <!--input type="submit" class"btn btn-default"/-->
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
